.intro{
	@include card;
	padding: 15px;
	margin: 40px 10px 0;
	max-width: 380px;

	img{
		display: none;
	}

	.profile-pg{
		height: 300px;
		margin: -15px -15px 15px;
		background: url('/img/hike.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
	}

	.text{
		line-height: 1.6rem;

		h2{
			font-weight: 400;
			display: inline-block;
			margin: 5px 0 0;
		}

		a{
			transition: color .2s;
			color: #448AFF;
			text-decoration: none;
			white-space: nowrap;

			&:hover{
				color: #1976D2
			}
		}

		button{
			@include button;
			font-size: 14px;
			padding-left: 0;
		}
	}
}

.blog,
.bookshelf{
	color: #616161;
	max-width: 540px;

	h2{
		font-weight: 300;
		margin: 40px 15px 10px;
	}

	ul{
		list-style-type: none;
		padding: 0;

		li{
			@include card;
			transition: box-shadow 0.2s ease-out;
			margin: 10px;
			padding: 10px 15px;
			max-width: 380px;
			line-height: 1.6rem;
			overflow: hidden;

			img{
				transition: all .2s ease-out;
				width: 79px;
				display: inline-block;
				vertical-align: top;
				margin: -10px 10px -10px -15px;
			}

			.text{
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 100px);
			}
			
			button{
				@include button;
				padding: 0;
				font-size: 13px;
			}

			&:hover{
				box-shadow: 0 2px 15px rgba(0, 0, 0, 0.30);
			}
		}

		.title{
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
		}

		.date{
			display: block;
			font-size: 12px;
			color: #757575;
		}

		.author{
			display: block;
			font-size: 12px;
			color: #757575;
		}

		.rating{
			display: block;
			margin-top: -5px;
			font-size: 12px !important;
			color: #757575;
		}
	}

	.view-all{
		@include button;
		transition: color .2s;
		color: #9E9E9E;
		font-size: 13px;
		margin-left: 15px;
		padding-left: 0;

		&:hover{
			color: #757575;
		}
	}
}

@media (min-width: 400px) {

	.intro{
		margin: 40px auto 0;
	}

	.blog,
	.bookshelf{
		margin: 0 auto;
		width: 380px;

		h2,
		.view-all{
			margin-left: 0;
		}

		ul li{
			margin-left: 0;
		}

		ul li{
			font-size: 17px;
		}
	}
}


@media (min-width: 840px) {

	.intro{
		padding: 0;
		margin: 60px auto 0;
		max-width: 800px;

		img{
			height: 245px;
			display: inline-block;
			vertical-align: top;
		}

		.text{
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			max-width: 570px;
			padding: 5px 25px;

			h2{
				margin-top: 20px;
			}
		}
	}

	.dynamic{
		max-width: 800px;
		display: block;
		margin: 0 auto;
	}

	.blog,
	.bookshelf{
		display: inline-block;
		vertical-align: top;

		h2{
			margin: 60px 0 10px;
		}
	}

	.bookshelf{
		margin-left: 40px;

		ul li{
			margin-right: 0;
		}
	}
}

@media (min-width: 1000px) {
	
	.intro{
		margin: 80px auto 0;
	}

	.blog h2,
	.bookshelf h2{
		margin: 80px 0 10px;
	}
}

@media (min-width: 1400px) {
	
	.intro{
		margin: 100px auto 0;
	}

	.blog h2,
	.bookshelf h2{
		margin: 100px 0 10px;
	}
}
