footer{
	box-sizing: border-box;
	font-weight: 300;
	text-align: center;
	width: 100%;
	color: #757575;
	font-size: 13px;
	letter-spacing: .2px;
	margin-top: 30px;

	span{
		inline-display: block;
		padding: 10px;
	}
	
	i{
		transition: color .2s;
		font-size: 12px !important;
	}

	span:hover i{
		color: #D55B8B;
	}
}

@media (min-width: 840px) {
	
	footer{
		margin-top: 50px;
	}
}

@media (min-width: 1000px) {
	
	footer{
		margin-top: 70px;
	}
}

@media (min-width: 1400px) {
	
	footer{
		margin-top: 90px;
	}
}
