header{
	box-sizing: border-box;
	background: #607D8B;
	border: solid #607D8B 1px;

	h1{
		color: white;
		font-weight: 300;
		margin: 0;
	}

	h2{
		color: white;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.6rem;
		margin: 10px 0 0;
	}

	.content{
		box-sizing: border-box;
		max-width: 420px;
		padding: 40px 25px;
	}
}

@media (min-width: 400px) {
	
	header .content{
		margin: 0 auto;
	}
}

@media (min-width: 840px) {
	
	header .content{
		max-width: 800px;
		padding: 60px 0;

		h1{
			font-size: 40px;
		}

		h2{
			font-size: 18px;
			letter-spacing: .2px;
			line-height: normal;
		}
	}
}

@media (min-width: 1000px) {

	header .content{
		padding: 80px 0;
	}
	
}

@media (min-width: 1400px) {

	header .content{
		padding: 100px 0;
	}
	
}