<header>
    <div class="content">
        <h1>Paul Breslin</h1>
        <h2>A JavaScript developer with an eye for detail.</h2>
    </div>
</header>

<main>
                
    <div class="intro">
        <img src="img/profile.jpg" alt="Paul Breslin" />
        <div class="profile-pg"></div>
        <div class="text">
            <h2>About</h2>
            <p>Hi there! When I'm not shamelessly ripping off Google's <a href="https://www.google.com/design/spec/material-design/introduction.html" target="blank">Material Design</a> you can find me playing pool, eating burgers, and coding.</p>
            <p>I'm currently looking for work in a well-established company so I can pay the rent this month.</p>
            <button [routerLink]="['Curriculum']">View CV</button>
        </div>
    </div>

    <section class="dynamic">

        <blog></blog><bookshelf></bookshelf>

    </section>

</main>

<footer> 
    <a href="https://github.com/paulbreslin/paulbresl.in" target="_blank">
        <span>Made with <i class="fa fa-heart"></i> in London.</span>
    </a>
</footer>