<div class="blog">
    <h2>Medium Articles</h2>
    <ul>
        <li>
            Why you should give Yeoman another chance
            <span class="date">27 Jan 2016</span>
            <a href="https://medium.com/simple-human/embracing-simplicity-cf9ca9fe6a9e#.3n9le0tmz" target="blank">
                <button>Read</button>
            </a>
        </li>
        <li>
            Badboy image resizing
            <span class="date">14 Nov 2015</span>
            <button>Read</button>
        </li>
        <li>
            Large sites require a custom framework
            <span class="date">23 Sep 2015</span>
            <button>Read</button>
        </li>
    </ul>
    <button class="view-all">View all</button>
</div>