<div class="bookshelf">
    <h2>Goodreads Reviews</h2>
    <ul>
        <li>
            <img src="img/cover.jpg" alt="Coders">
            <div class="text">
                <span class="title">Coders at work: Reflections on the Craft of Programming</span> 
                <span class="author">Peter Sebeil</span>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                <button>Read</button>
            </div>
        </li>
        <li>
            <img src="img/sophie.jpg" alt="Coders">
            <div class="text">
                <span class="title">Sophie's World</span> 
                <span class="author">Jostein Gaarder</span>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                <button>Read</button>
            </div>
        </li>
        <li>
            <img src="img/quijote.jpg" alt="Coders">
            <div class="text">
                <span class="title">Don Quixote</span>
                <span class="author">Miguel de Cervantes</span>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
                <button>Read</button>
            </div>
        </li>
    </ul>
    <button class="view-all">View all</button>
</div>